# ------------------------------------------------------------------------------
services:
  app:
    ports:
      - "${SERVICE_PORT}:53"
      - "${SERVICE_PORT}:53/udp"
    hostname: ${APP_TAG}
    labels:
      - traefik.http.services.${APP_TAG}.loadbalancer.server.port=8081
      - traefik.http.middlewares.${APP_TAG}-prefix.stripprefix.prefixes=/pdns
      - traefik.http.routers.${APP_TAG}.rule=Host(`${APP_SITE}`) && PathPrefix(`/pdns/`)
      - traefik.http.routers.${APP_TAG}.middlewares=${APP_TAG}-prefix@docker
    environment:
      - PDNS_API_KEY=${API_KEY}
      - PDNS_API=yes
      - PDNS_CHROOT=/
      - PDNS_DAEMON=no
      - PDNS_GPGSQL_DBNAME=${PGDATABASE}
      - PDNS_GPGSQL_HOST=db
      - PDNS_GPGSQL_PASSWORD=${PGPASSWORD}
      - PDNS_GPGSQL_PORT=5432
      - PDNS_GPGSQL_USER=${PGUSER}
      - PDNS_LAUNCH=gpgsql,bind
      - PDNS_MASTER=yes
      - PDNS_SOCKET_DIR=/var/run
      - PDNS_WEBSERVER_ADDRESS=0.0.0.0
      - PDNS_WEBSERVER_ALLOW_FROM=0.0.0.0/0
      - PDNS_WEBSERVER_PORT=8081
      - PDNS_WEBSERVER=yes
#      - PDNS_LOG_DNS_QUERIES=yes
#      - PDNS_LOGLEVEL=5
